<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Account</title>
<link rel="stylesheet" href="css/CreateAccountPage.css">
</head>
<body>

<div class="login-container">
  <h1 class="login-heading">WELCOME</h1>
  <div class="login-form">
    
    <form action="#" method="post">
        <input type="text" name="name" placeholder="Name" required>
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Sign Up">
    </form>
    <button onclick="openAlreadyAccount()" class="create-account-btn">Already Have an Account</button>
  </div>
</div>

</body>
<script src = "JS/CreateAccount.js"></script>
</html>
