<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>

<div class="login-container">
  <h1 class="login-heading">RES-BUS</h1>
  <div class="login-form">
    
    <form action="#" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input class="submitButton" type="submit" value="Login">
    </form>
    <button  onclick="openCreateAccount()" class="create-account-btn">Create New Account</button>
  </div>
</div>

</body>
<script src = "JS/index.js"></script>
</html>
